# ============== #
# GITIGNORE FILE #
# ============== # 
# ================= #
# Dataset GITIGNORE #
# ================= #
Dataset/MaSTr1325/*
Dataset/MaSTr1325-test

# ================= #
# Results GITIGNORE #
# ================= #
None-Bayes-SegNet/result/log/*
*.pth
*.json

# ========================= #
# Python GITIGNORE Template #
# ========================= # 

# Ignore all __pycache__ directories
**/__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Scrapy stuff:
.scrapy


# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints


# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
